body {
    background-color: #121212 !important;
    color: #ffffff !important;
    background-image: linear-gradient(
        rgba(18, 18, 18, 0.75), 
        rgba(44, 24, 9, 0.75)
    ), url('../assets/img/background/coffee1.JPG');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body::before {
    display: none;
}

.card, .navbar, footer {
    background-color: rgba(30, 30, 30, 0.75) !important;
    backdrop-filter: blur(5px);
}

.btn-primary {
    background: linear-gradient(145deg, rgba(139, 69, 19, 0.9), rgba(101, 67, 33, 0.9)) !important;
    border-color: rgba(139, 69, 19, 0.5) !important;
}

.btn-primary:hover {
    background: linear-gradient(145deg, rgba(101, 67, 33, 0.9), rgba(139, 69, 19, 0.9)) !important;
}

.card-text {
    color: #ffffff !important;
}

.navbar {
    background-color: rgba(30, 30, 30, 0.75) !important;
    backdrop-filter: blur(5px);
}

footer {
    background: rgba(30, 30, 30, 0.75) !important;
    backdrop-filter: blur(5px);
}
