/* Estilos básicos para el tema claro */
body.bg-light {
    background-color: transparent !important;
    color: #000 !important;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.75), 
        rgba(255, 255, 255, 0.75)
    ), url('../assets/img/background/coffee1.JPG') !important;
}

.card {
    background-color: rgba(255, 255, 255, 0.95) !important;
}

.navbar.bg-light {
    background-color: rgba(255, 255, 255, 0.95) !important;
} 