/* Variables de color para el modo oscuro */
body.dark-mode {
  --bs-body-bg: #121212; /* Fondo oscuro principal */
  --bs-body-color: #e0e0e0; /* Texto claro */
  --bs-link-color: #bb86fc; /* Enlaces morados */
  --bs-link-hover-color: #3700b3; /* Hover oscuro */
  --bs-border-color: #333333; /* Bordes oscuros */
  --bs-highlight-bg: #3e3e3e; /* Fondo de resaltado oscuro */
}

/* Aplicación de estilos para el modo oscuro */
body.dark-mode {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

/* Navbar en modo oscuro */
.navbar.dark-mode {
  background-color: #333;
}

.navbar-nav .nav-link.dark-mode {
  color: var(--bs-body-color);
}

/* Enlaces */
a.dark-mode {
  color: var(--bs-link-color);
}

a.dark-mode:hover {
  color: var(--bs-link-hover-color);
}

/* Pie de página */
footer.dark-mode {
  background-color: #333;
  color: var(--bs-body-color);
  border-top: 1px solid var(--bs-border-color);
}
